<div class="right_col" role="main" style="">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Banner List <small>Banners List</small></h2>
            <div class="clearfix"></div> 
        </div>
        <div class="x_content">
            <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>

            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="datatable_length">
                            <label>Show
                                <select name="datatable_length" aria-controls="datatable" class="form-control input-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="datatable_filter" class="dataTables_filter">
                            <label>Search:
                                <input type="search" class="form-control input-sm" placeholder="" aria-controls="datatable">
                            </label>
                        </div>
                    </div>
                </div>
                <table class="table table-striped jambo_table bulk_action">
                      <thead>
                        <tr class="headings">
                          <th>Banner Heading</th>
                          <th>Banner Description</th>
                          <th>Banner Image</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>


                      <tbody>
                        <tr *ngFor="let listItem of listItems">
                          <td>{{ listItem.bannerHeading }}</td>
                          <td>{{ listItem.bannerDescription }}</td>
                          <td>
                          	<div class="profile clearfix">
                          		<div class="profile_pic">
	                            	<img src="{{ listItem.bannerImagePath }}"  class="img-circle profile_img"/>
		                        </div>
		                    </div>
	                    </td>
                          <td>
                            <div *ngIf="listItem.bannerStatus==='Active'; then thenBlock else elseBlock"></div>
                            <ng-template #thenBlock><a class="btn btn-primary btn-small" (click)="changeStatus(listItem._id)">Active</a></ng-template>
                            <ng-template #elseBlock><a class="btn btn-danger btn-small" (click)="changeStatus(listItem._id)">Inactive</a></ng-template>
                          </td>
                          <td>
                              <a [routerLink]="['/admin/module/banners/edit/'+listItem._id]" class="btn btn-primary btn-xs">Edit</a>

                              <button class="btn btn-danger btn-xs" mwlConfirmationPopover [popoverTitle]="popoverTitle"   [popoverMessage]="popoverMessage" placement="top" (confirm)="deleteBanner(listItem._id)" (cancel)="cancelClicked = true"> Delete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous disabled" id="datatable_previous"><a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0">Previous</a></li>
                            <li class="paginate_button active"><a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0">1</a></li>
                            <li class="paginate_button "><a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0">2</a></li>
                          <li class="paginate_button next" id="datatable_next"><a href="#" aria-controls="datatable" data-dt-idx="7" tabindex="0">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	</div>
</div>

