<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Add Sub Category</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div> 
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12"> 
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Add Category </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br>
                        <form [formGroup]="addSubcategoryForm" (ngSubmit)="onSubmit()" class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Category Name <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" formControlName="categoryName">
                                        <option value="">Select Category</option>
                                        <option [value]="category._id" *ngFor="let category of categoryList">{{ category.categoryName }}</option>
                                    </select>
                                    <div *ngIf="categoryName.invalid && (categoryName.dirty || categoryName.touched)" class="alert alert-danger">Category Name is requird.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Sub Category Name <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="first-name" formControlName="SubCategoryName" class="form-control col-md-7 col-xs-12">
                                    <div *ngIf="SubCategoryName.invalid && (SubCategoryName.dirty || SubCategoryName.touched)" class="alert alert-danger">Subcategory Name is requird.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Status <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
								    <select class="form-control" formControlName="subcategoryStatus">
								        <option value="Active">Active</option>
								        <option value="Inactive">Inactive</option>
								    </select>
								    <div *ngIf="subcategoryStatus.invalid && (subcategoryStatus.dirty || subcategoryStatus.touched)" class="alert alert-danger">Name is requird.</div>
                                </div>
                            </div>
                       
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>