<link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css">
<link href="/assets/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/nprogress/nprogress.css">
<link rel="stylesheet" type="text/css" href="/assets/iCheck/skins/flat/green.css">
<link rel="stylesheet" type="text/css" href="/assets/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
<link rel="stylesheet" type="text/css" href="/assets/jqvmap/dist/jqvmap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="/assets/css/custom.min.css">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
        </div>
        <div class="clearfix"></div>
    
      <app-sidenav></app-sidenav>
      </div>
    </div>
    <app-topnav></app-topnav>
		<router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
<script type="text/javascript" src="/assets/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="/assets/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/assets/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/assets/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/assets/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/assets/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

<script type="text/javascript" src="/assets/fastclick/lib/fastclick.js"></script>
<script type="text/javascript" src="/assets/nprogress/nprogress.js"></script>
<script type="text/javascript" src="/assets/Chart.js/dist/Chart.min.js"></script>
<script type="text/javascript" src="/assets/gauge.js/dist/gauge.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script type="text/javascript" src="/assets/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="/assets/skycons/skycons.js"></script>
<script type="text/javascript" src="/assets/Flot/jquery.flot.js"></script>
<script type="text/javascript" src="/assets/Flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/assets/Flot/jquery.flot.time.js"></script>
<script type="text/javascript" src="/assets/Flot/jquery.flot.stack.js"></script>
<script type="text/javascript" src="/assets/Flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="/assets/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="/assets/flot-spline/js/jquery.flot.spline.min.js"></script>
<script type="text/javascript" src="/assets/flot.curvedlines/curvedLines.js"></script>
<script type="text/javascript" src="/assets/DateJS/build/date.js"></script>
<script type="text/javascript" src="/assets/jqvmap/dist/jquery.vmap.js"></script>
<script type="text/javascript" src="/assets/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script type="text/javascript" src="/assets/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<script type="text/javascript" src="/assets/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/custom.min.js"></script>